:root {
  --theme: #3771b4;
  --blue: #3771b4;
  --red: #de3539;
  --yellow: #f4b335;
  --green: #7ab131;
  --orange: #e36927;
  --purple: #803788;
  --sky: #66b9de;
  --btn-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* HEADER */

/* MAIN */

main {
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  align-items: center;
  width: 100%;
  background-color: #3771b4;
  min-height: 4rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* MAP STATES */

#WA {
  fill: var(--blue);
}

#NT {
  fill: var(--red);
}

#QLD {
  fill: var(--green);
}

#SA {
  fill: var(--yellow);
}

#NSW {
  fill: var(--orange);
}

#VIC {
  fill: var(--purple);
}

#TAS {
  fill: var(--sky);
}

.state {
}

.state:hover {
  transition: all 150ms;
  transform-origin: center;
  filter: brightness(1.5);
  cursor: pointer;
}

/* STATES */

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  padding: 1rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.image-container {
  align-self: flex-start;
}

.badge-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3%;
}

.badge {
  width: 30%;
  border-radius: 50%;
  aspect-ratio: 1;
}

.badge-container :nth-child(1) {
  border: 8px solid #cd7f32;
}
.badge-container :nth-child(2) {
  border: 8px solid #c0c0c0;
}
.badge-container :nth-child(3) {
  border: 8px solid gold;
}

.crest-container {
  width: 250px;
}

.crest-container img {
  width: 100%;
  object-fit: contain;
}

.map {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid black;
}

/* RIGHT CONTAINER */

.right-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* QUESTIONS */

.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: white;
  border: none;
  box-shadow: var(--btn-box-shadow);
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.4);
}
