:root {
  --theme: #3771b4;
  --blue: #3771b4;
  --red: #de3539;
  --yellow: #f4b335;
  --green: #7ab131;
  --orange: #e36927;
  --purple: #803788;
  --sky: #66b9de;
  --bronze: #cd7f32;
  --silver: #c0c0c0;
  --off-black: #111111;
  --btn-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  --primary-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: var(--off-black);
}

/* HEADER */

#header {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  align-items: center;
  width: 100%;
  background-color: #3771b4;
  min-height: 4rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  align-items: center;
  width: 100%;
  background-color: #3771b4;
  min-height: 4rem;
}

.socials {
  display: flex;
  gap: 1rem;
  background-color: var(--off-black);
  padding: 1rem;
  border-radius: 1rem;
}

.socials i {
  font-size: 2rem;
}

.socials a:hover,
.socails a:focus {
  transform: scale(1.1) translateY(-5px);
  transition: all 250ms;
  filter: brightness(1.4);
  cursor: pointer;
}

.socials a:nth-child(1) {
  color: orange;
}
.socials a:nth-child(2) {
  color: blue;
}
.socials a:nth-child(3) {
  color: lightskyblue;
}
.socials a:nth-child(4) {
  color: palevioletred;
}

/* SCORE BADGE */

/* MAIN */
.wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem 0.25rem;
  border: 3px solid var(--off-black);
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.score-title {
  padding: 2rem;
}

.badge-score {
  display: flex;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0.5rem;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.state-score-list {
  list-style: none;
}

.state-score {
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.score-badges-container i {
  color: var(--off-black);
  font-size: 1.4rem;
}
/* MAP STATES */

#WA {
  fill: var(--blue);
}

#NT {
  fill: var(--red);
}

#QLD {
  fill: var(--green);
}

#SA {
  fill: var(--yellow);
}

#NSW {
  fill: var(--orange);
}

#VIC {
  fill: var(--purple);
}

#TAS {
  fill: var(--sky);
}

.state {
}

.state:hover {
  transition: all 150ms;
  filter: brightness(1.5);
  cursor: pointer;
}

/* STATES */

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  padding: 1rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.image-container {
  align-self: flex-start;
}

.badge-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3%;
}

.badge {
  width: 30%;
}

.map {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid black;
}

/* RIGHT CONTAINER */

.right-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crest-container {
  max-width: 200px;
}

.crest-container img {
  width: 100%;
  object-fit: contain;
}

/* QUESTIONS */

.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: white;
  border: none;
  box-shadow: var(--btn-box-shadow);
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.4);
}

/* BADGES */

.badge-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
}

.badge-box:nth-child(1) {
  border: 5px solid var(--orange);
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}
.badge-box:nth-child(2) {
  border: 5px solid var(--purple);
  background-color: var(--purple);
  background-image: linear-gradient(315deg, var(--purple) 0%, #a88beb 74%);
}

.badge-box:nth-child(3) {
  border: 5px solid var(--green);
  background-color: var(--green);
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.badge-box:nth-child(4) {
  border: 5px solid var(--yellow);
  background-color: var(--yellow);
  background-image: linear-gradient(315deg, var(--yellow) 0%, #ffdd00 74%);
}

.badge-box:nth-child(5) {
  border: 5px solid var(--blue);
  background-color: var(--blue);
  background-image: linear-gradient(315deg, var(--blue) 0%, #009ffd 74%);
}

.badge-box:nth-child(6) {
  border: 5px solid var(--red);
  background-color: var(--red);
  background-image: linear-gradient(315deg, var(--red) 0%, #e17282 74%);
}

.badge-box:nth-child(7) {
  border: 5px solid var(--sky);
  background-color: var(--sky);
  background-image: linear-gradient(315deg, var(--sky) 0%, #aedfee 74%);
}

.badge-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  gap: 1rem;
  background-color: whitesmoke;
  padding-bottom: 1rem;
}

.none {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
  gap: 1rem;
  background-color: rgba(50, 50, 93, 0.25);
  padding-bottom: 1rem;
}

.state-title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 1rem 0 1rem;
}

.icon {
  width: 100%;
  padding-inline: 1rem;
}

.icon img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
