:root {
  --theme: #3771b4;
  --blue: #3771b4;
  --red: #de3539;
  --yellow: #f4b335;
  --green: #7ab131;
  --orange: #e36927;
  --purple: #803788;
  --sky: #66b9de;
  --off-black: #111111;
  --btn-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: var(--off-black);
}

/* HEADER */

/* MAIN */

main {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  align-items: center;
  width: 100%;
  background-color: #3771b4;
  min-height: 4rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* MAP STATES */

#WA {
  fill: var(--blue);
}

#NT {
  fill: var(--red);
}

#QLD {
  fill: var(--green);
}

#SA {
  fill: var(--yellow);
}

#NSW {
  fill: var(--orange);
}

#VIC {
  fill: var(--purple);
}

#TAS {
  fill: var(--sky);
}

.state {
}

.state:hover {
  transition: all 150ms;
  transform-origin: center;
  filter: brightness(1.5);
  cursor: pointer;
}

/* STATES */

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  padding: 1rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.image-container {
  align-self: flex-start;
}

.badge-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3%;
}

.badge {
  width: 30%;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.badge-container :nth-child(1) {
  border: 8px solid #cd7f32;
}
.badge-container :nth-child(2) {
  border: 8px solid #c0c0c0;
}
.badge-container :nth-child(3) {
  border: 8px solid gold;
}

.map {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid black;
}

/* RIGHT CONTAINER */

.right-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crest-container {
  max-width: 200px;
}

.crest-container img {
  width: 100%;
  object-fit: contain;
}

/* QUESTIONS */

.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: white;
  border: none;
  box-shadow: var(--btn-box-shadow);
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.4);
}

/* BADGES */

.badge-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
}

.badge-box:nth-child(1) {
  border: 5px solid var(--orange);
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}
.badge-box:nth-child(2) {
  border: 5px solid var(--purple);
  background-color: var(--purple);
  background-image: linear-gradient(315deg, var(--purple) 0%, #a88beb 74%);
}

.badge-box:nth-child(3) {
  border: 5px solid var(--green);
  background-color: var(--green);
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.badge-box:nth-child(4) {
  border: 5px solid var(--yellow);
  background-color: var(--yellow);
  background-image: linear-gradient(315deg, var(--yellow) 0%, #ffdd00 74%);
}

.badge-box:nth-child(5) {
  border: 5px solid var(--blue);
  background-color: var(--blue);
  background-image: linear-gradient(315deg, var(--blue) 0%, #009ffd 74%);
}

.badge-box:nth-child(6) {
  border: 5px solid var(--red);
  background-color: var(--red);
  background-image: linear-gradient(315deg, var(--red) 0%, #a71d31 74%);
}

.badge-box:nth-child(7) {
  border: 5px solid var(--sky);
  background-color: var(--sky);
  background-image: linear-gradient(315deg, var(--sky) 0%, #3eadcf 74%);
}

.badge-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
  background-color: whitesmoke;
}

.state-title {
  font-size: 1.2rem;
}

.tropy-crest {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  aspect-ratio: 1/1;
}
