@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --theme: #533b7c;
  --blue: #3771b4;
  --red: #de3539;
  --yellow: #f4b335;
  --green: #6ec531;
  --orange: #e36927;
  --purple: #803788;
  --sky: #66b9de;
  --pink: #ff69b4;
  --bronze: #cd7f32;
  --silver: #c0c0c0;
  --off-black: #111111;
  --btn-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  --primary-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: var(--off-black);
}

/* HEADER */

#header {
  width: 100%;
  background-color: var(--theme);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  padding: 1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

button {
  background: inherit;
  box-shadow: none;
  border: none;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* MODAL */

#modal-btn {
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  width: fit-content;
  padding: 2rem;
  border-radius: 10px;
  border: 5px solid var(--off-black);
  position: relative;
}

.close {
  position: absolute;
  color: var(--off-black);
  font-weight: bolder;
  top: 0;
  right: 5px;
  font-size: 3rem;
  background: transparent;
}

.close:hover,
.close:focus {
  cursor: pointer;
  transform: scale(1.05);
  color: var(--red);
}

.modal-headline {
  text-decoration: underline;
}

.how-to-play {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1rem;
  font-size: 1.2rem;
}

/* FOOTER */

#footer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--theme);
}
.socials {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.socials i {
  font-size: 3rem;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
}

.socials a:hover,
.socails a:focus {
  transform: scale(1.1) translateY(-5px);
  transition: all 250ms;
  filter: brightness(1.4);
  cursor: pointer;
}

.socials a:nth-child(1):hover {
  color: #ea7b08;
  border-color: #ea7b08;
}
.socials a:nth-child(2):hover {
  color: #4065ad;
  border-color: #4065ad;
}
.socials a:nth-child(3):hover {
  color: #4360f0;
  border-color: #4360f0;
}
.socials a:nth-child(4):hover {
  color: #d71e65;
  border-color: #d71e65;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.contact-details h3 {
  font-weight: 500;
}

.contact-details a:hover,
.contact-details a:focus {
  text-decoration: underline;
}

/* MAIN */

main {
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}

#headline {
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

#category-headline {
  text-transform: capitalize;
}

.wrapper {
  width: 100%;
  flex: 1;
  min-height: 80vh;
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.tooltip {
  position: absolute;
  z-index: 1;
  top: auto;
  margin: auto;
  background-color: black;
  font-size: x-large;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
}

.category:hover,
.category:focus {
  transition: all 150ms;
  filter: brightness(2);
  cursor: pointer;
  outline: none;
}

.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: fit-content;
  padding: 1rem 0.25rem;
  border: 3px solid var(--off-black);
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
  background-color: white;
}

.score-title {
  padding: 2rem;
}

.badge-score {
  display: flex;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0.5rem;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.category-score-list {
  list-style: none;
}

.category-score {
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.score-badges-container {
  min-width: 80px;
  display: flex;
  justify-content: space-evenly;
}

.score-badges-container i {
  color: var(--off-black);
  font-size: 1.4rem;
}

.medal-container {
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.badge {
  width: 30%;
  max-width: 300px;
}

.icon-container {
  border-radius: 50%;
  border: 5px solid;
  padding: 1rem;
}

#icon {
  width: 100px;
}

/* GAME FORM */

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#form-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-form fieldset {
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.4rem;
  border: 5px solid;
  text-align: left;
}

#game-form legend {
  font-size: 1.6rem;
  font-weight: bold;
}

#game-form input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555555;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

#game-form input[type="radio"]:hover {
  cursor: pointer;
}

#easy:checked {
  background-color: var(--green);
}

#easy:checked + label {
  color: var(--green);
  font-weight: bold;
}

#medium:checked {
  background-color: var(--blue);
}

#medium:checked + label {
  color: var(--blue);
  font-weight: bold;
}

#hard:checked {
  background-color: var(--red);
}

#hard:checked + label {
  color: var(--red);
  font-weight: bold;
}

/* GAME AREA */

#game-area {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.headline {
  font-size: 2rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
}

#question {
  font-size: 1.2rem;
}

#answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 500px;
}

#answers .btn {
  font-size: 1rem;
}

.btn {
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  gap: 0.5rem;
  color: white;
  border: none;
  box-shadow: var(--btn-box-shadow);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  filter: brightness(1.4);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.hidden {
  display: none;
}

/* GAME-OVER */

.game-answer-list {
  font-weight: bolder;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: medium;
}

.game-over-question {
  font-weight: bolder;
  border-bottom: 1px solid rgba(50, 50, 93, 0.25);
  padding-bottom: 0.5rem;
  padding: 0.25rem;
}

.game-answer-container {
  display: flex;
  padding: 0.25rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.answers {
  flex: 1;
}

.answers p {
  margin-block: 0.25rem;
}

.game-answer {
  border: 2px solid green;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgba(89, 190, 89, 0.3);
}

/* TROPHY MEDALS */

.badge-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  max-width: 1000px;
}

.badge-box:nth-child(1) {
  border: 5px solid var(--orange);
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}
.badge-box:nth-child(2) {
  border: 5px solid var(--purple);
  background-color: var(--purple);
  background-image: linear-gradient(315deg, var(--purple) 0%, #a88beb 74%);
}

.badge-box:nth-child(3) {
  border: 5px solid var(--green);
  background-color: var(--green);
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.badge-box:nth-child(4) {
  border: 5px solid var(--yellow);
  background-color: var(--yellow);
  background-image: linear-gradient(315deg, var(--yellow) 0%, #ffdd00 74%);
}

.badge-box:nth-child(5) {
  border: 5px solid var(--blue);
  background-color: var(--blue);
  background-image: linear-gradient(315deg, var(--blue) 0%, #009ffd 74%);
}

.badge-box:nth-child(6) {
  border: 5px solid var(--red);
  background-color: var(--red);
  background-image: linear-gradient(315deg, var(--red) 0%, #e17282 74%);
}

.badge-box:nth-child(7) {
  border: 5px solid var(--sky);
  background-color: var(--sky);
  background-image: linear-gradient(315deg, var(--sky) 0%, #aedfee 74%);
}

.badge-box:nth-child(8) {
  border: 5px solid var(--pink);
  background-color: var(--pink);
  background-image: linear-gradient(315deg, #e58c8a 0%, #fcaeac 74%);
}

.badge-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  gap: 1rem;
  padding: 0.25rem;
  background-color: whitesmoke;
  padding-bottom: 1rem;
}

.none {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
  gap: 1rem;
  background-color: rgba(50, 50, 93, 0.25);
  padding-bottom: 1rem;
}

.category-title {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
  padding: 1rem 1rem 0 1rem;
}

.icon {
  width: 100%;
  padding-inline: 1rem;
}

.icon img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

/* ANIMATIONS */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* MEDIA_QUERIES */

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .header-container {
    padding: 1rem 0.25rem;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0.25rem;
    gap: 1rem;
  }

  .home-title {
    font-size: 1.8rem;
  }

  .btn-container {
    flex-direction: column;
  }

  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .headline {
    font-size: 1.4rem;
  }
  .game-answer-list {
    font-size: small;
  }
  .tooltip {
    font-size: medium;
  }
}
